@import '../../styles/colors';
@import '../../styles/breakpoints';
@import '../../styles/typography';

.intro {
  text-align: center;
  margin: 25px 0 0;

  .h2 {
    margin-bottom: 1.2em;
  }

  .donation-value {
    font-size: 108px;
    margin: -20px 0;
    color: black;
    font-weight: bold;
    @include bowlby;
    letter-spacing: 5px;
  }

  .donation-subhead {
    margin: 0;
    font-size: 13px;
  }

  .introduction {
    margin: 0 auto 25px;
    padding: 30px 35px 0;
    max-width: 660px;
  }
}
